.playground-tab-header {
  margin-bottom: 0.5em;
}

.editor-wrapper {
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 10px;
  height: 20em;
  overflow: scroll !important;
  border: 1px dashed #323232 !important;
}

.editor-wrapper.invalid-parser-config {
  border-color: rgb(237, 82, 82) !important;
}

.header {
  background-color: white;
}

.preset-selector {
  border-radius: 2px;
  font-size: 0.9rem;
  width: 400px;
  margin-left: 20px;
  border: 1px dotted #323232;
}
