.invalid-parser-config textarea.npm__react-simple-code-editor__textarea {
  border-color: red !important;
}

textarea.npm__react-simple-code-editor__textarea {
  border: 2px dashed black !important;
}

textarea.npm__react-simple-code-editor__textarea:focus {
  outline: none;
}

.playground-tab-header {
  margin-bottom: 0.5em;
}
